<h1><%= @user.email %></h1>

<%= link_to "Edit user info", edit_user_path(@user) %> |
<%= link_to "Delete user", user_path(@user), :method => :delete %> |
<%= link_to "Sign out user", session_path, :method => :delete %>


<% @users.each do |user| %>
  
  <% if user.username != current_user.username %> 
	<li><%= h user.username %> </li>
    <li><%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %> </li>

    <% end %>
<% end %> 

</ul>